<h1>Welcome <%= current_user.first_name if current_user %></h1>
<% if current_user %>
  <p>YOU ARE WINNER</p>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    </script>
  <body onload="startTime()">
  <div id="txt"></div>

  <%= form_with method: :post, url: start_home_index_path, local: true do |form| %>
    <%= form.submit 'Start'%>
    <%= @start_time %>
  <% end %>
  <%= form_with method: :post, url: stop_home_index_path, local: true do |form| %>
    <%= form.submit 'Stop'%>
    <%= @stop_time %>
  <% end %>
  <select id="wine_color" name="wine[color]">
    <option value=""></option>
    <option value="red">red</option>
    <option value="white">white</option>
    <option value="sparkling">sparkling</option>
  </select>


<% end %>



